.full-width-banner {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.full-width-banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.full-width-banner-content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

.full-width-banner h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: white; /* Ensure text color is white even with global styles */
}

.full-width-banner .button {
  margin-top: 20px;
}

.full-width-banner .button {
  margin-top: 20px;
}

.full-width-banner .button a,
.full-width-banner .button button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #0004ff;
  text-decoration: none;
  border: 2px solid #0004ff;
  border-radius: 9999px; /* Pill shape */
  transition: background-color 0.3s ease, color 0.3s ease;
}
.full-width-banner .button a:hover,
.full-width-banner .button button:hover {
  background-color: #0004ff;
  color: #ffffff;
}